{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h2>Change Your Password</h2>

        <!-- Display any messages -->
        {% if request.session.update_messages %}
        <div class="alert alert-info">
            {% for message in request.session.update_messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}    

    <form method="POST" action="{% url 'account.password_submit' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input type="password" class="form-control" name="new_password" id="new_password" required>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Password</button>
    </form>
</div>

{% endblock %}
