{% extends 'base.html' %}

{% block content %}
<div class="bg-search">
    <form action="{% url 'results.index' %}" method="get">
        <div class="row justify-content-center mb-4 ms-4">
            <div class="col-md-8 d-flex pt-5">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>

        <div class="overlay-box mt-4">
            <h1 class="display-6 text-center">What are you looking for?</h1>

            <!-- Checkboxes go here -->
            <div class="d-flex justify-content-between gap-3 w-100 m-3 p-5 overlay-box">
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="restaurant">
                    <label class="form-check-label" for="restaurant">Restaurants</label>
                </div>
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="bar">
                    <label class="form-check-label" for="bar">Bars</label>
                </div>
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="cafe">
                    <label class="form-check-label" for="cafe">Cafes</label>
                </div>
            </div>
            
            <div class="d-flex justify-content-between gap-3 w-100 m-3 p-5 overlay-box"> 
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="breakfast">
                    <label class="form-check-label" for="breakfast">Breakfast</label>
                </div>
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="linner">
                    <label class="form-check-label" for="linner">Lunch/Dinner</label>
                </div>
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="open">
                    <label class="form-check-label" for="open">Open Now</label>
                </div>
            </div>

            <div class="d-flex justify-content-between gap-3 w-100 m-3 p-5 overlay-box"> 
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="american">
                    <label class="form-check-label" for="american">American Food</label>
                </div>
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="mexican">
                    <label class="form-check-label" for="mexican">Mexican Food</label>
                </div>
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="italian">
                    <label class="form-check-label" for="italian">Italian Food</label>
                </div>
            </div>

            <div class="d-flex justify-content-between gap-3 w-100 m-3 p-5 overlay-box"> 
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="indian">
                    <label class="form-check-label" for="indian">Indian Food</label>
                </div>
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="mediterranean">
                    <label class="form-check-label" for="mediterranean">Mediterranean Food</label>
                </div>
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="thai">
                    <label class="form-check-label" for="thai">Thai Food</label>
                </div>
            </div>

            <div class="d-flex justify-content-between gap-3 w-100 m-3 p-5 overlay-box"> 
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="chinese">
                    <label class="form-check-label" for="chinese">Chinese Food</label>
                </div>
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="japanese">
                    <label class="form-check-label" for="japanese">Japanese Food</label>
                </div>
                <div class="form-check form-check-lg">
                    <input type="checkbox" class="form-check-input" id="korean">
                    <label class="form-check-label" for="korean">Korean Food</label>
                </div>
            </div>

        </div>

    </form>
</div>


{% endblock content %}
