{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 mb-5 pb-5">
    <div class="row">
      <div class="col-6">
        <div class="p-3">
          <img src="/static/images/aboutimg.jpg" alt="about me image" class="img-fluid aboutImage" style="width: 80% !important; height: auto !important;">
        </div>
      </div>
      <div class="col-6">
        <div class="p-3">
          <h5 class="display-3">ABOUT US</h5>
          <p>BiteFinder is a small-scale application created by four computer science students at Florida Southern College. The purpose is to showcase a general understanding of working in a team, programming both the front end and the back end of an application, as well as being able to research on our own and learn a whole framework from the ground up. The owners of BiteFinder are Gianna Smith, Daniel Benson, Aubrey Allen, and Matthew Blankenship. BiteFinder uses the Yelp API and a maps API to showcase locations of restaurants you might like, based on filters. It is a more stylish recreation of what Google Maps provides.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}