<!--AIzaSyAREHr_JNo0KmsVoRgcKSU9t_vqk1mz0No-->
{% extends 'base.html' %}
{% block content %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<script>
    
    function initMap(){
        map = new google.maps.Map(document.getElementById("map"),{
            center:{lat:28.0421 , lng:-81.9535},
            zoom: 8,
        });

        const marker = new google.maps.Marker({
        position: {lat: 28.0421, lng:-81.9535},
        map: map,
        title: "Florida Location"
        });

        marker.addListener("click", () =>{
            alert("Marker clicked")
        })
    }

    
    window.initMap = initMap;
</script>



<div>
    <div class="container-fluid">
        <div class="mapholder row justify-content-center align-items-center" style="height: 100vh;">
            <div id="map" class="col-lg-8 col-md-7 col-sm-12"></div>
    
            <div class="col-lg-4 col-md-5 col-sm-12 d-flex justify-content-center">
                <div class="card" style="width: 18rem; border-radius: 10px;">
                    <img class="card-img-top p-4" src="https://i.pinimg.com/736x/17/60/af/1760afc8834d516147ee58941437b15d.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <script async src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"></script>
    
    
</div>

{% endblock content %}